div{
    color: olivedrab;
    font-size: 66px;
    background-color: greenyellow;
}

p{
    color: goldenrod;
    font-size: 2px;
    border: 2px dashed darkolivegreen;
}

body {
    background-image: url("img/62187834_p0.jpg");
    background-size: cover;
}